<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login | Krash Meet</title>
</head>
<body>
    <div class="main">
        <div class="right_part">
            <div class="message">
            <h1>Welcome Back to <br>Krash IT Services</h1>
            <p>Sign In to continue Krash Meet</p>
            </div>
        </div>
        <div class="left_part">
            <div class="login_options">
                <button id="fbButton"><i class="fa fa-facebook"></i>Sign in with Facebook</button>
                <button id="gButton"><i class="fa fa-google"></i>Sign in with Google</button>
            </div>
            <h2 style="margin-top: 20px;">OR</h2>
            <div class="data_form">
                <form>
                    
                    <input type="email" placeholder="Enter Your Email">
                    
                    <input type="password" placeholder="Password">
                    <h2><a href="#">Forget Password ?</a></h2>
                    <input type="submit" id="signin" value="Sign in">

                    <h3>Not Registered ?<a href="/ragistration">Ragistration</a></h3>
                </form>
            </div>
        </div>
    </div>
</body>
</html>