* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

main {
  display: flex !important;
  height: 100vh;
}

.main__left {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.main__videos {
  height: fit-content;
  scroll-behavior: auto;
  background-color:black;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  overflow-y: auto;
}

#video-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#video-grid > video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  height: 300px;
  width: 400px;
  margin: 10px;
  object-fit: contain;
  border: 1px solid whitesmoke;
}

.main__controls {
  display: flex;
  justify-content: space-evenly;
  background-color: #1c1e20;
  color: #d2d2d2;
  padding: 5px;
  position: absolute;
  width: 100%;
  bottom: 1px;
  position: fixed;
}

.main__controls__block {
  display: flex;
  justify-content: space-evenly;
}

.main__controls__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  width: 100%;
  cursor: pointer;
  justify-content: space-evenly;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button > i {
  font-size: 20px;
  margin-bottom: 5px;
}

.mid-block {
  flex: 1;
}

.leave-btn {
  color: #eb534b;
  padding: 0 15px;
}
.leave-btn:hover{
  background-color: #eb534b;
}
.leave-btn a{
  color: white;
  text-decoration: none;
}
.main__right {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main__header {
  color: whitesmoke;
  text-align: center;
  margin-top: 10px;
}

.main__right__render {
  display: flex;
  flex-direction: column;
  width: 66em;
  overflow-y: auto;
}

.main__chat__box {
  width: 100%;
  height: 84vh;
  padding: 0 5px;
  overflow-y: auto;
}
#chatBackBtn{
  color: white;
    position: absolute;
    margin-top: 11px;
    margin-left: 42px;
    font-size: 25px; 
}
#chatBackBtn:hover{
  background-color: #d2d2d2;
  color: black;
  width: 30px;
  height: auto;
  border-radius: 5px;
}
#usersBackBtn{
  color: white;
  position: absolute;
  margin-top: 11px;
  margin-left: 42px;
  font-size: 25px; 
}
#usersBackBtn:hover{
  background-color: #d2d2d2;
  color: black;
  width: 30px;
  height: auto;
  border-radius: 5px;
}
.main__message__container {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #3d3d42;
  padding: 12px;
  background: black;
}

.main__message__container > textarea {
  
  background-color: transparent;
  border: none;
  outline: 0;
  color: whitesmoke;
  resize: none;
  height: auto;
  bottom: 0px;
  padding-right: 56em;
}

.main__message__send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border: 0;
  outline: 0;
  background-color: unset;
}

.main__message__send > i {
  color: #d2d2d2;
}

.main__message__send:active,
.main__message__send:focus {
  outline: 0;
}

.main__message__send:hover > i {
  color: var(--primary);
}

.main__message__send:active > i {
  color: #005cbe;
}

/* Messages */

#messages {
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
}

#messages > li {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

#messages > li > .message__avatar {
  width: 26px;
  height: 26px;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 5px;
}

#messages > li > .message__content {
  display: flex;
  flex-direction: column;
}

#messages > li > .message__content > span {
  color: whitesmoke;
  font-size: 12px;
  margin-left: 10px;
}

#messages > li > .message__content > .message__text {
  background-color: #3d3d42;
  color: whitesmoke;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 3px;
  width: fit-content;
  width: -moz-fit-content;
  max-width: 160px;
}

#messages > li > .message__content > .message__text > span {
  word-wrap: break-word;
  word-break: break-word;
}

#messages > li.message-left {
  align-self: flex-start;
}

#messages > li.message-right {
  align-self: flex-end;
}

#messages > li.system-message {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#messages > li.system-message > span {
  font-size: 12px;
  color: var(--gray);
  margin-bottom: 5px;
}

/* Conditions */




.active-btn {
  color: var(--purple);
}

.fa-microphone-slash,
.fa-video-slash {
  color: #eb534b;
}

/* Participants */

#users {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.user {
  
  display: flex;
  list-style: none;
  padding: 10px;
  align-items: center;
  position: relative;
    
}

.user__avatar {
  width: 34px;
  height: 34px;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  font-weight: bold;
  margin-right: 10px;
}

.user__name {
  color: #d2d2d2;
  flex: 1;
}

.user__media {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e6e79;
  font-size: 18px;
}

.user__media > i:first-child {
  margin-right: 12px;
}


    /*------tablets and ipade--------*/
    @media(min-width:769px) and (max-width:1023px){
    }

      /*------mobile phones--------*/
      @media (max-width: 768px){
        body{
          width: 100%;
          height: 100vh;
        }
        #video-grid > video
        {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 190px;
          width: 200px;
        }
        .main__controls{
          position: absolute;
          display: flex;
          width: 60px;
          height: 100vh;
          flex-direction: column;
          position: fixed;
        }
       /* .main__controls__button{
          
        }*/
        .main__right__render{
          width: 301px;
        }
        .main__controls__block{
          display: flex;
          flex-direction: column;
          padding: 20px 20px 20px 15px;
          font-size: 10px;
        }
        .main__message__container > textarea{
          padding-right: 110px;
        }
        .main__controls__button:hover{
          background-color: #343434;
          height: 50px;
          width: 50px;
        }
        .main__controls__block {
          font-size: 8px;
        }
       
       
      }